{{> header}}


<div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Workout App</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                
                {{#if error}}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{error}}
                </div>
                {{/if}}
                {{#if success}}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{success}}
                </div>
                {{/if}}


                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget-simple-chart text-right card-box">
                            <div class="circliful-chart" data-dimension="90" data-text="{{caloriePercent}}%" data-width="5" data-fontsize="14" data-percent="{{caloriePercent}}" data-fgcolor="#5fbeaa" data-bgcolor="#505A66"></div>
                            <h3 class="text-success counter m-t-10">{{calories}}</h3>
                            <p class="text-muted text-nowrap m-b-10">Calories burned this week</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="widget-simple-chart text-right card-box">
                            <div class="circliful-chart" data-dimension="90" data-text="{{hourPercent}}%" data-width="5" data-fontsize="14" data-percent="{{hourPercent}}" data-fgcolor="#3bafda" data-bgcolor="#505A66"></div>
                            <h3 class="text-primary counter m-t-10">{{hours}}</h3>
                            <p class="text-muted text-nowrap m-b-10">Hours spent exercising this week</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->


                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-lg-12">
                        <div class="portlet">
                            <!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark"> Area Chart of total calories and exercise hours for the past week </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet2" class="panel-collapse collapse show">
                                <div class="portlet-body">
                                    <div class="text-center">
                                        <ul class="list-inline chart-detail-list">
                                            <li class="list-inline-item">
                                                <h5><i class="fa fa-circle m-r-5" style="color: #3bafda;"></i>Calories</h5>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5><i class="fa fa-circle m-r-5" style="color: #80deea;"></i>Hours</h5>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="morris-area-with-dotted" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /Portlet -->
                    </div>

                </div>
                <!-- End row-->




                
                <div class="row">
                   <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-30 header-title">Enter a Workout</h4>
                            <form role="form" action="/platform/dashboard/enter-workout" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Workout Description</label>
                                    <input type="text" class="form-control" name="workoutDescription" required="" placeholder="Enter a workout description">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Hours Spent</label>
                                    <input type="number" class="form-control" required="" name="hoursSpent" placeholder="Enter hours spent working out">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Estimated Caloric Burn</label>
                                    <input type="number" class="form-control" required="" name="caloriesBurned" placeholder="Enter caloric burn">
                                </div>
                                <button type="submit" class="btn btn-primary">Enter Workout</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->


            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->
        
        
        
        {{> footer}}